* {
    background-color: #509CB3;
}

.heading {
    text-align: center;
    background-color: #B37334;
    margin-left: 25%;
    margin-right: 25%;
    font-weight: bold;
}

p {
    text-align: center;
}

#buttonQuestions {
    display: flex;
    justify-content: space-between;
}

.clickForQuestion {
    background-color: #FFBE7D;
}