* {
    background-color: #509CB3;
}

.heading {
    text-align: center;
    background-color: #B37334;
    margin-left: 25%;
    margin-right: 25%;
    font-weight: bold;
}

p {
    text-align: center;
}

#buttonQuestions {
    display: flex;
    justify-content: space-between;
}

.clickForQuestion {
    background-color: #FFBE7D;
}

#orderList {
    text-align: center;
    list-style-position: inside;
}

#education {
    list-style-position: inside;
    text-align: center;
}

#workExperience {
    list-style-position: inside;
    text-align: center;
}

#moreQuestions {
    display: flex;
    justify-content: center;
}

.guessingQuestion {
    padding: 10px 30px;
}